{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <nav class="red lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" class="brand-logo center">{{ channel_name }}</a></div>
    </nav>

    <div class="container">
        <div class="section">
            {% if not channels %}
                <h1>No channels to show</h1>
            {% else %}
                {% for chan in channels %}
                    <div class="row">
                        <div class="col s12">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="{{ static }}{{ chan.picture.url }}">
                                </div>
                                <div class="card-content">
                                    <p>{{ chan.title }}</p>
                                </div>
                                <div class="card-action">
                                    <a href="/channels/{{ chan.id }}">Ver canal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}